<mat-card>
  <mat-card-title>User Profile</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="user.Username" name="Username" placeholder="Username" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="user.Email" name="Email" placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="user.Birthday" name="Birthday" placeholder="Birthday" type="date">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="saveProfile()">Save</button>
    </form>
  </mat-card-content>
</mat-card>
